<launch>
  <arg name="robot_ip" doc="IP of the controller" default="192.168.1.6"/>
    <arg name="image_topic" default="/camera/color/image_raw"/>
    <arg name="depth_topic" default="/camera/aligned_depth_to_color/image_raw"/>
    <arg name="usbcam_topic" default="/usb_cam/image_raw"/>
    <!-- <arg name="offset_fixed_x" default="0.009"/>  -->
    <arg name="offset_fixed_x" default="0.009"/>
    <arg name="offset_fixed_y" default="-0.0011"/>
    <arg name="offset_fixed_z" default="0.1397"/>
    <arg name="Kp" default="200.0"/>
    <arg name="calibration_path" default="$(find camera_pkg)/param"/> 

    <node name="outlet_detector"
        pkg="camera_pkg"
        type="outlet_detect"
        output="screen">
    <param name="image_topic" value="$(arg image_topic)"/>
    <param name="depth_topic" value="$(arg depth_topic)"/> 
    <param name="usbcam_topic" value="$(arg usbcam_topic)"/>
    <param name="offset_fixed_x" value="$(arg offset_fixed_x)"/>
    <param name="offset_fixed_y" value="$(arg offset_fixed_y)"/>
    <param name="offset_fixed_z" value="$(arg offset_fixed_z)"/>
    <param name="calibration_path" value="$(arg calibration_path)/camera_ext.yaml" />
    <param name="Kp" value="$(arg Kp)" />
    </node>
</launch>