<launch>
    
    <arg name="robot_ip" doc="IP of the controller" default="192.168.1.6"/>
    <arg name="image_topic" default="/camera/color/image_raw"/>
    <arg name="depth_topic" default="/camera/aligned_depth_to_color/image_raw"/>
    <arg name="usbcam_topic" default="/usb_cam/image_raw"/>
    <!-- <arg name="offset_fixed_x" default="0.009"/>  -->
    <arg name="offset_fixed_x" default="0.009"/>
    <arg name="offset_fixed_y" default="-0.0011"/>
    <arg name="offset_fixed_z" default="0.1397"/> <!-- 0.1397-->
    <arg name="Kp" default="200.0"/>
    <arg name="calibration_path" default="$(find camera_pkg)/param"/> 

    <param name="robot_description" textfile="$(find mg400_description)/urdf/mg400_description.urdf"/>

    <node name="mg400_bringup" pkg="mg400_bringup" type="mg400_bringup" output="screen">
        <param name="joint_publish_rate" type="double" value="10"/>
        <param name="trajectory_duration" type="double" value="0.3"/>
        <param name="robot_ip_address" type="str" value="$(arg robot_ip)"/>
    </node>

     <node name="MG400_horizontal_move"
        pkg="MG400_basic"
        type="MG400_work_horizontal.py"
        output="screen"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    
     <node pkg="uvc_camera" type="uvc_camera_node" name="uvc_camera" output="screen">
    <param name="width" type="int" value="640" />
    <param name="height" type="int" value="480" />
    <param name="fps" type="int" value="30" />
    <param name="frame" type="string" value="wide_stereo" />

    <param name="auto_focus" type="bool" value="False" />
    <param name="focus_absolute" type="int" value="0" />
    <!-- other supported params: auto_exposure, exposure_absolute, brightness, power_line_frequency -->

    <param name="device" type="string" value="/dev/video0" />
    <param name="camera_info_url" type="string" value="file://$(arg calibration_path)/camera.yaml" />
    <remap from="/image_raw" to="/usb_cam/image_raw" />
   </node>

    

    <node name="outlet_detector"
        pkg="camera_pkg"
        type="outlet_detect"
        output="screen">
    <param name="image_topic" value="$(arg image_topic)"/>
    <param name="depth_topic" value="$(arg depth_topic)"/> 
    <param name="usbcam_topic" value="$(arg usbcam_topic)"/>
    <param name="offset_fixed_x" value="$(arg offset_fixed_x)"/>
    <param name="offset_fixed_y" value="$(arg offset_fixed_y)"/>
    <param name="offset_fixed_z" value="$(arg offset_fixed_z)"/>
    <param name="calibration_path" value="$(arg calibration_path)/camera_ext.yaml" />
    <param name="Kp" value="$(arg Kp)" />
    </node>
        

                                    
</launch>
